<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelPractice"
        tools:targetApi="31">

        <!-- 🤖 NEW: AI Chat Activity -->
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.TravelPractice" />

        <activity
            android:name=".admin.AdminLoginActivity"
            android:label="Admin Login"
            android:exported="false" />


        <!-- Your existing activities -->
        <activity
            android:name=".ItineraryActivity"
            android:exported="false" />

        <activity
            android:name=".ExpenseTrackerActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.TravelPractice" />

        <activity
            android:name=".ui.checklist.BagChecklistActivity"
            android:exported="false" />

        <activity
            android:name=".TripDetailActivity"
            android:exported="false" />

        <!-- Home screen (trips) -->
        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <activity
            android:name=".reviews.ReviewsActivity"
            android:exported="false"
            android:label="Reviews"/>

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />


        <!-- Login Activity - App entry point -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>

</manifest>